@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --hero-c: #e4ad09;
    --bd-bg: #363636;
    --p-c: #dddddd;
}

body {
    background: var(--bd-bg);
    font-family: 'Muli';
    color: var(--hgero-c);
    text-align: center;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 a {
    text-decoration: none;
    color: var(--hero-c);
}

h1 a:hover {
    color: red;
}

h1 a:hover::before {
    content: 'link do filmiku na Udemy';
    position: absolute;
    top: -28px;
    left: 20%;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 200;
    background: rgba(0, 0, 0, .25);
    /* border: 1px solid red; */
    opacity: .7;
}

button {
    position: relative;
    padding: 10px 25px;
    font-size: 40px;
    margin: 300px;
    border-style: none;
    color: #fff;
    background: grey;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

button:hover {
    color: red;
    background: rgb(75, 75, 75);
}

span:nth-child(1) {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    left: -100%;
    transition: .5s;
}

button:hover span:nth-child(1) {
    left: 0%;
}

span:nth-child(2) {
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    top: 250%;
    left: 48%;
    transform: rotate(90deg);
    transition: .5s;
}

button:hover span:nth-child(2) {
    top: 0;
}

span:nth-child(3) {
    position: absolute;
    height: 3px;
    width: 100%;
    background: blue;
    top: 8%;
    right: -100%;
    transition: .5s;
}

button:hover span:nth-child(3) {
    right: 0;
}

span:nth-child(4) {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    top: 250%;
    left: -48%;
    transform: rotate(90deg);
    transition: .5s;
}

button:hover span:nth-child(4) {
    top: 0;
}