@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hero-c: #ffc30b;
  --bd-bg: #464646;
}

body {
  background: var(--bd-bg);
}

h1 a {
  text-decoration: none;
  color: var(--hero-c);
  font-family: 'Muli';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px rgba(0, 0, 0, .75);
  transition: .5s;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 a:hover {
  color: red;
}

h1 a:hover::before {
  content: 'link do filmiku na Udemy';
  position: absolute;
  top: -28px;
  left: 20%;
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 200;
  background: rgba(0, 0, 0, .25);
  /* border: 1px solid red; */
  opacity: .7;
}

/* ----------------------------- */

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30vh;
  background-color: royalblue;
  color: white;
  overflow: hidden;
}

section h1 {
  color: #fff;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  font-size: 60px;
  text-transform: uppercase;
  animation: text 15s linear infinite both;
}

/* 
section h1+h1 {
  display: none;
} */

section h1:nth-last-child(2) {
  animation-delay: 5s;
}

section h1:nth-last-child(3) {
  animation-delay: 10s;
}

@keyframes text {
  0% {
    transform: translate(100%, -50%);
  }
  3% {
    transform: translate(100%, -50%);
  }
  6% {
    transform: translate(0, -50%);
  }
  29% {
    transform: translate(0, -50%);
  }
  33% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}